.logo{
    height: 10vh;
    width: 25vh;
}

header{
    border-bottom: 10px;
    border-color: black;
    border-bottom: solid 1px;
    position: static;
}

.categorias{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 0px;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}
nav ul li a:hover{ 
    transform: scale(1.3);
    font-weight: bold;
}

.login_btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn{

    color: white;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    width: 10vh;
}
.login_btn:hover{
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    width: 10vh;
}

.cadastrar_btn{
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.cadastrar_btn:hover{

    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.btn_pesquisar{
     color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.btn_pesquisar:hover{

    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.carousel-item{
    height: 100vh;
}

.carousel-item :active{
    height: 100vh;
}

.card-categoria{
    color: rgb(125, 125, 125);
}

#modal_login{
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 15px;
    padding: 0%;
}

#modal_login::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

#modal_login .input_login{
    transition: all 0.5s ease;
}


#btn_fechar:hover{
    cursor: pointer;
}

