*{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height: 10vh;
    width: 25vh;
}

header{
    position: static;
}

dialog{
    width: 110vh;
}
.categorias{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 0px;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}
nav ul li a:hover{ 
    transform: scale(1.3);
    font-weight: bold;
}

.login_btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn{

    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    width: 10vh;
}
.login_btn:hover{
    color: white;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    width: 10vh;
}

.cadastrar_btn{
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.cadastrar_btn:hover{

    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.btn_pesquisar{
     color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.btn_pesquisar:hover{

    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 15vh;
}

.carousel-item{
    height: 100vh;
}

.carousel-item :active{
    height: 100vh;
}

.card-categoria{
    color: rgb(125, 125, 125);
}

#modal_login{
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 15px;
    padding: 0%;
}

#modal_login::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

#modal_login .input_login{
    transition: all 0.5s ease;
}


#btn_fechar:hover{
    cursor: pointer;
}

#modal_login form{
    margin: 20px 20px 20px 20px;
}

#modal_login form button{
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal_login form button:hover{
    background-color: black;
    color: white;
}

#modal_login form input{
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.outros_login_google{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

.outros_login_google:hover{
    border-style: solid;
    border-color: rgb(45, 59, 247);
    border-width: 1px;
    border-radius: 10px;
}

.outros_login_facebook{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 10px;
}

.outros_login_facebook:hover{
    border-style: solid;
    border-color: rgb(45, 59, 247);
    border-width: 1px;
    border-radius: 10px;
}

/* CONDICIONAIS */
.input_error{
    border-color: red;
}
.text_error{
    margin: 0px;
    margin-top: 5px;
    color: red;
}
